a.btn-lg {
    width: 220px;
    margin: 5px;
}

div.table-surround {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(3, 3, 3, 0.2);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 55%;
    padding: 15px;
}

table {
    width: 100%;
    margin: auto;
}

tr > td {
    padding: 5px;
}
